{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<style>
    body {
        background-color: rgb(252, 247, 201);
    }
</style>

<nav class="navbar" style="background-color: rgb(197, 252, 197); font-style: bold">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Login</span>
    </div>
  </nav>

  <div class = "login container d-flex flex-column justify-content-center align-items-center">
    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn btn-outline-success" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Belum mempunyai akun?
    <a class="btn btn-sm btn-outline-secondary" type="submit" href="{% url 'todolist:register' %}">Create Acc</a>
</div>

{% endblock content %}