{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<style>
    body {
        background-color: rgb(252, 247, 201);
    }
</style>

<nav class="navbar" style="background-color:rgb(197, 252, 197); font-style: bold">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">New Registration</span>
    </div>
  </nav>

  <div class = "login container d-flex flex-column justify-content-center align-items-center">

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input class="btn btn-outline-success" type="submit" name="submit" value="Create"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}